{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
  Chat Room for {{ course.title }}
{% endblock %}

{% block content %}
  <div>
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-secondary text-center">Room {{ course.title }}</h4>

          <div id="chat" class="mb-3"></div>

          <div id="chat-input">

            <div class="row">
              <div class="col-md-10">
                <input type="text" class="form-control" id="chat-message-input" placeholder="Type message">
              </div>
              <div class="col-md-2">
                <button class="btn btn-info text-white" id="chat-message-submit">Send</button>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
{% endblock %}
