{% extends 'base.html' %}
{% load cache %}
{% load widget_tweaks %}

{% block title %}
  {{ course.title }}
{% endblock %}

{% block content %}
  <!-- heading -->
  <div></div>

  <div class="row">
    <!-- sidebar -->
    <div class="col-md-3">
      <div class="list-group">
        {% for m in course.modules.all %}
          <a href="{% url 'students:student_course_detail_module' course.id m.id %}"
             class="list-group-item list-group-item-action {% if m.id == module.id %}list-group-item-info{% endif %}">
            Module {{ m.order|add:1 }}
            <br>
            <em>{{ m.title }}</em>
          </a>
        {% empty %}
          No modules yet
        {% endfor %}

      </div>
    </div>

    <!-- main content -->
    <div class="col-md-9">
    {% cache 600 modules_content module %}
      {% for content in module.contents.all %}
        {% with item=content.item %}
          <h2>{{ item.title }}</h2>
          {{ item.render }}
        {% endwith %}
      {% endfor %}
    {% endcache %}

    </div>

  </div>

{% endblock %}